body {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.navs {
  height: 50px;
  width: 50px;
  border-radius: 0 10px 10px 0;
  margin: 5px;
  margin-left: 0;
}

.navs:hover {
  width: 10em;
  transition: 0.5s ease;
}
.right_container {
  padding: 10px;
}
